body,html{
    margin: 0;
    padding: 0;
    font-family: "Lato";
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.wrapper{
    width: 1020px;
    margin: 0 auto;
}
.portfolio{
    height: 864px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}
.portfolio h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
    padding: 60px 0 22px 0;
}
.portfolio p{
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    padding: 0 0 15px 0;
    margin: 0;
}
.portfolio__content{
  margin: 0 40px;
}
.portfolio__buttons{
  display: flex;
  margin-left: 1px;
}
.portfolio__buttons li {
  border: 1px solid #767e9e;
  font-size: 12px;
  color: #767e9e;
  border-radius: 5px;
  margin-right: 11px;
  padding: 3px 6px;
  height: 14px;
  line-height: 13px;
  font-weight: 400;
  cursor:pointer;
}
.portfolio__buttons li:hover{
  color:#fff;
  border: 1px solid #fff;
}
.portfolio__buttons li:nth-child(1){
  padding: 3px 6.5px;
  color:#fff;
  border: 1px solid #fff;
}
.portfolio__buttons li:nth-child(2){
  margin-right: 10px;
}
.portfolio__buttons li:nth-child(3){
  padding: 3px 5px;
}
.portfolio__buttons li:nth-child(4){
  padding: 3px 5px;
}
.portfolio__img{
  padding-top: 19px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 187px 187px 187px;
  grid-gap: 20px;
}


/*ABOUT US*/


.about-us{
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #fff;
}
.about-us h2{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  margin: 0;
  padding: 59px 0 18px 0;
}
.about-us p{
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 30px;
}
.about-us-space{
  word-spacing: 1.3px;
}
.about-us__content{
margin: 0 39px;
}

.about-us__us{
  padding-top: 31px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 450px;
  grid-gap: 20px;
}

.about-us__us h3{
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  margin: 0;
  padding: 11px 0 8px 0;
  letter-spacing: -0.1px;
}
.about-us__us p{
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 21px;
  word-spacing: 1px;
}
.about-us__us .let-space-one{
  word-spacing: -0.5px;
}
.about-us__us .let-space-three{
  word-spacing: 0.7px;
}
.social{
  display: flex;
  padding-top: 9px;
  margin-left: 1px;
}
.social li{
  width: 30px;
  height: 30px;
  border: solid 1px #6f7590;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center ;
}

.social .face{
  background-image: url(assets/img/about-us/facebook.png);
}

.social .face:hover{
  background-image: url(assets/img/about-us/facebook-hover.png);
  background-color: #6f7590;
}

.social .goo{
  background-image: url(assets/img/about-us/google+.png);
}

.social .goo:hover{
  background-image: url(assets/img/about-us/google+-hover.png);
  background-color: #6f7590;
}

.social .twit{
  background-image: url(assets/img/about-us/twitter.png);
}

.social .twit:hover{
  background-image: url(assets/img/about-us/twitter-hover.png);
  background-color: #6f7590;
}

.social .in{
  background-image: url(assets/img/about-us/linkedin.png);
}

.social .in:hover{
  background-image: url(assets/img/about-us/linkedin-hover.png);
  background-color: #6f7590;
}