html{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    margin: auto;
    font-size: 1.6rem;
    font-family: 'Lato', 'Open-sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    width: 1020px;
}
.header{
    text-transform: uppercase;
    height: 89px;
    background-color: #2d303a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-stretch: ultra-condensed;
    border-bottom:6px #323746 solid;
}
.logo{
    font-size: 25px;
    color:#fff;
    margin-right: auto;
    margin-left: 40px;
    letter-spacing: -0.5px;
}
.logo>span{
    color:#f06c64
}
.header>.wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 6px;
}
.headeer__navigation{
    display: flex;
    padding-left: 0;
    margin-right: 40px;
}
.headeer__navigation>li{
    margin-right: 28px;
}
.headeer__navigation .active {color:#f06c64}
.headeer__navigation>li>a{
    font-size: 12px;
    color:#fff;
    letter-spacing: 0.03px;
}
.headeer__navigation>li>a:last-child{
    letter-spacing: 0.03px;
}
.headeer__navigation>li:last-child{margin-right: 0;}