html{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Lato', 'Open-sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2,h3,p{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1020px;
    margin:0 auto;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

/*header*/
.header{
    text-transform: uppercase;
    height: 89.5px;
    background-color: #2d303a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-stretch: ultra-condensed;
    border-bottom:5px #323746 solid;
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: 0.5s;
}
.logo{
    font-size: 25px;
    color:#fff;
    margin-right: auto;
    margin-left: 40px;
    letter-spacing: -0.5px;
}
.logo>h1{
    font-size: 25px;
    color:#fff;
    letter-spacing: -0.5px;
}
.logo>h1>span{
    color:#f06c64
}
.header>.wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: -2px;
}
.headeer__navigation{
    display: flex;
    padding-left: 0;
    margin-right: 40px;
}
.headeer__navigation>li{
    margin-right: 31px;
    position: relative;
}
.headeer__navigation>li:after{
    content:'';
    display: block;
    background-color: #494e62;
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    right: -17px;
    top:12px;
}
.headeer__navigation>li:last-child:after{
    display: none;
}
.headeer__navigation .active {color:#f06c64}
.headeer__navigation>li>a{
    font-size: 12px;
    color:#fff;
    letter-spacing: 0.05px;
}
.headeer__navigation>li>a:hover{
    color:#f06c64;
    transition: 0.3s;
}
.headeer__navigation>li>a:last-child{
    letter-spacing: -0.3px;
}
.headeer__navigation>li:last-child{margin-right: 0;}

/*slider*/
.slider{
    height: 594px;
    border-bottom: 6px solid #ea666b;
    background: #f06c64;
    padding-top: 95px;
}
.slides{
    display: none;
    animation-duration: 1s;
    overflow: hidden;
}
@keyframes right {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }
}
@keyframes left {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}
.slide-1{
    height: 594px;
    background: #f06c64;
}
.slide-2{
    height: 594px;
    background: #648bf0;
}
.slider>.wrapper{
    position: relative;
}
.slide-1 img, .slide-2 img{
    position: absolute;
}
.vertical{
    left:112px;
    top: 53px;
}
.vertical-black{
    width: 188px;
    height: 334px;
    background: black;
    position: absolute;
    left: 126px;
    top: 118px;
    display: none;
}
.horizontal{
    top:174px;
    right: 111px;
}
.horizontal-black{
    width: 334px;
    height: 188px;
    background: black;
    position: absolute;
    left: 484px;
    top: 188px;
    display: none;
}
.slide2{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.left{
    position: absolute;
    left:42px;
    top: 281px;
    cursor: pointer;
    background-image: url(assets/img/left.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    z-index: 3;
}
.right{
    position: absolute;
    top: 281px;
    right: 40px;
    cursor: pointer;
    background-image: url(assets/img/right.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    z-index: 3;
}
.left:hover{
    transform: scale(1.5, 1.5);
    background-image: url(assets/img/left_hover.png);
}
.right:hover{
    transform: scale(1.5, 1.5);
    background-image: url(assets/img/right_hover.png);
}

/*services*/

.services{
    background-color: #f1f1f1;
    height: 494px;
    border-bottom: 6px white solid;
}
.service__content{
    margin-right: 38px;
    margin-left: 40px;
    padding-top: 59px;
}
.service__content h2{
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 18px;
    letter-spacing: -0.2px
}
.service__content p{
    color: #767e9e;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.service__span__space{
    word-spacing: 1.2px
}
.service__info{
    margin-top: 46px;
}
.service__info__block{
    display: flex;
}
.one{
    margin-bottom: 31px;
}
.info__block{
    display: flex;
    margin-right: 19px;
    justify-content: space-between;
}
.info__text{
    width: 221px;
    margin-left: 21px;
}
.info__img{
    width: 55px;
    height: 55px;
    border: 2px solid #666d89;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.info__img img{
    width: 32px;
    height: 32px;
    position: absolute;
    transform: translate(40%, 37%);
}
.info__text h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #666d89;
    margin-bottom: 10px;
    letter-spacing: -0.1px;
}
.info__text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    overflow: hidden;
}

.first_wordspace{
    word-spacing: 5px;
}

.second_wordspace{
    word-spacing: 1px;
}
.third_wordspace{
    word-spacing: 7px;
}
.four_wordspace{
    word-spacing: 2px;
}
.five_wordspace{
    word-spacing: 1px;
}
.six_wordspace{
    word-spacing: 3px;
}


.info__text .first_letterspace{
    letter-spacing: 0.1px;
}
.info__text .second_letterspace{
    letter-spacing: 0.1px;
}

/*PORTFOLIO*/

.portfolio{
    height: 864px;
    background-color: #2d303a;
    border-bottom: solid 5px #323746;
}
.portfolio h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
    padding: 60px 0 22px 0;
}
.portfolio p{
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    padding: 0 0 15px 0;
    margin: 0;
}
.portfolio__content{
  margin: 0 40px;
}
.portfolio__buttons{
  display: flex;
  margin-left: 1px;
}
.portfolio__buttons li {
  border: 1px solid #767e9e;
  font-size: 12px;
  color: #767e9e;
  border-radius: 5px;
  margin-right: 11px;
  padding: 3px 6px;
  height: 14px;
  line-height: 13px;
  font-weight: 400;
  cursor:pointer;
}
.portfolio__buttons li:hover{
  color:#fff;
  border: 1px solid #fff;
}
.portfolio__buttons li.active{
  color:#fff;
  border: 1px solid #fff;
}
.portfolio__buttons li:nth-child(1){
  padding: 3px 6.5px;
  /* color:#fff;
  border: 1px solid #fff; */
}
.portfolio__buttons li:nth-child(2){
  margin-right: 10px;
}
.portfolio__buttons li:nth-child(3){
  padding: 3px 5px;
}
.portfolio__buttons li:nth-child(4){
  padding: 3px 5px;
}


.portfolio__img{
  padding-top: 19px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 187px 187px 187px;
  grid-gap: 20px;
}
.portfolio__img img{
    cursor:poiner;
}
.img-border{
    border:#F06C64 solid 5px;
    height: 177px;
    width: 210px;
}

.portfolio__img img:nth-child(n + 13){
    display: none;
}


/*ABOUT US*/


.about-us{
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #fff;
}
.about-us h2{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  margin: 0;
  padding: 59px 0 18px 0;
}
.about-us p{
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 30px;
}
.about-us-space{
  word-spacing: 1.3px;
}
.about-us__content{
margin: 0 39px;
}

.about-us__us{
  padding-top: 31px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 450px;
  grid-gap: 20px;
}

.about-us__us h3{
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  margin: 0;
  padding: 11px 0 8px 0;
  letter-spacing: -0.1px;
  overflow: hidden;
  white-space: nowrap;
}
.about-us__us p{
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 21px;
  word-spacing: 1px;
}
.about-us__us .let-space-one{
  word-spacing: -0.5px;
}
.about-us__us .let-space-three{
  word-spacing: 0.7px;
}
.social{
  display: flex;
  padding-top: 9px;
  margin-left: 1px;
}
.social li{
  width: 30px;
  height: 30px;
  border: solid 1px #6f7590;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center ;
}

.social .face{
  background-image: url(assets/img/about-us/facebook.png);
}

.social .face:hover{
  background-image: url(assets/img/about-us/facebook-hover.png);
  background-color: #6f7590;
}

.social .goo{
  background-image: url(assets/img/about-us/google+.png);
}

.social .goo:hover{
  background-image: url(assets/img/about-us/google+-hover.png);
  background-color: #6f7590;
}

.social .twit{
  background-image: url(assets/img/about-us/twitter.png);
}

.social .twit:hover{
  background-image: url(assets/img/about-us/twitter-hover.png);
  background-color: #6f7590;
}

.social .in{
  background-image: url(assets/img/about-us/linkedin.png);
}

.social .in:hover{
  background-image: url(assets/img/about-us/linkedin-hover.png);
  background-color: #6f7590;
}

/*CONTACTS*/

.contacts{
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.contacts__content, .footer__content{
    margin: 0 40px;
}
.contacts__content h2{
    font-size: 30px;
    color: #f0d8d9;
    font-weight: 900;
    margin: 0;
    padding:59px 0 18px 0;
}

.contact__h2__span{
    word-spacing: 1.2px;
}
.contact__p__span1{
    word-spacing: 0.5px;
}
.contact__p__span2{
    word-spacing: 1.3px;
}
.contacts__content p{
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    padding: 0;
    margin: 0 0 44px 0;
}
.contacts_info_block{
    display: flex;
}
.contacts_info_block form input{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border:none;
    height: 37px;
    width: 604px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 15px;
}
textarea{
    font-size: 12px;
    line-height: 32px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border:none;
    width: 602px;
    height: 198px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 15px;
}
input::placeholder { color: #f48c8f; } 
textarea::placeholder { color: #f48c8f; } 
.contacts_info_block form input[type=submit]{
    width: 619px;
    background-color: #f0d8d9;
    color:#d6564f;
    cursor:pointer;
    border: #d6564f solid 1px
}
.contacts_info_block form input[type=submit]:hover{
    width: 619px;
    background-color: #d6564f;
    color:#f0d8d9;
    transition: .5s;
    border: #f0d8d9 solid 1px
}
.contact_info{
    margin-left: 20px;
}
.contact_info h3{
    padding: 0;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
}
.contact_info p{
    width: 305px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    margin-bottom: 20px;
}
.contact a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
}
.contact a:nth-child(1) img{
    margin: 0 11px 0 4px;
}
.contact a:nth-child(2) img{
    margin: 0 11px 0 2px;
}
.contact a:nth-child(3) img{
    margin: 0 11px 0 0;
}

/*FOOTER*/

footer{
    background-color: #2d303a;
}
.footer__content{
    display: flex;
    align-items: center;
    height: 76px;
}
footer p{
    color:#666d89;
    font-weight: 400;
    margin: 0 auto 2px 1px;
    font-size: 12px;
}
footer li{
    width: 30px;
    height: 30px;
    border: solid 1px #6f7590;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer__social{
    display: flex;
    margin-right: -8px;
}
footer .face{
    background-image: url(assets/img/about-us/facebook.png);
}
  
footer .face:hover{
    background-image: url(assets/img/about-us/facebook-hover.png);
}
  
footer .goo{
    background-image: url(assets/img/about-us/google+.png);
}
  
footer .goo:hover{
    background-image: url(assets/img/about-us/google+-hover.png);
    border:#fff solid 1px;
}
  
footer .twit{
    background-image: url(assets/img/about-us/twitter.png);
}
  
footer .twit:hover{
    background-image: url(assets/img/about-us/twitter-hover.png);
    border:#fff solid 1px;
}
  
footer .in{
    background-image: url(assets/img/about-us/linkedin.png);
}
  
footer .in:hover{
    background-image: url(assets/img/about-us/linkedin-hover.png);
    border:#fff solid 1px;
}
footer, .contacts{
    position: relative;
}
.back{
    height: 1000vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.popup{
    width: 500px;
    height: 300px;
    position: absolute;
    top:-1000vh;
    left: 50%;
    transform: translate(-50%);
    background-color: #d6564f;
    z-index: 1;
    border:3px #f0d8d9 solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    /* display: none; */
}
.popup p{
    color: #f0d8d9;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.popup button{
    padding: 5px;
    width: 100px;
    background-color: #f0d8d9;
    color: #d6564f;
    cursor: pointer;
    border: #d6564f solid 1px;
    border-radius: 5px;
}
.popup button:hover{
    background-color: #d6564f;
    color:#f0d8d9;
    transition: .5s;
    border: #f0d8d9 solid 1px  
}